---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json
      - id: check-added-large-files
      - id: check-yaml
      - id: debug-statements
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        types: [file, python]
      - id: ruff-format
        types: [file, python]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.29.0
    hooks:
      - id: yamllint
        alias: yamllint-non-ansible
        name: yamllint (non-Ansible)
        files: '^[^(ci/)].*\.ya?ml$'
      - id: yamllint
        alias: yamllint-ansible
        name: yamllint (Ansible)
        files: '^ci/.*\.ya?ml$'
        args:
          - -c
          - .yamllint-ansible.yml
