include LICENSE
include README.rst
include python-rpmautospec.spec
include *.txt
include *.rst
recursive-include rpm *
recursive-include rpmautospec *.py *.txt
recursive-include koji_plugins *.py *.conf
recursive-include tests *.py *.tar.gz *.spec.expected *.spec
recursive-excludes *.pyc
