[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "rpmautospec"
version = "0.6.3"
description = "A package and CLI tool to generate RPM release fields and changelogs."
authors = [
    "Pierre-Yves Chibon <pingou@pingoured.fr>",
    "Nils Philippsen <nils@redhat.com>",
    "Adam Saleh <asaleh@redhat.com>",
    "Stephen Coady <scoady@redhat.com>",
    "David Kirwan <dkirwan@redhat.com>",
    "Elliott Sales de Andrade <quantum.analyst@gmail.com>",
    "Zbigniew Jędrzejewski-Szmek <zbyszek@in.waw.pl>",
    "Miro Hrončok <miro@hroncok.cz>",
]
maintainers = ["Fedora Infrastructure <admin@fedoraproject.org>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/fedora-infra/rpmautospec"
packages = [
    { include = "rpmautospec/**/*.py" },
]
include = [
    { path = "DCO.txt", format = "sdist" },
    { path = "rpm/macros.d/macros.rpmautospec", format = "sdist" },
    { path = "tests/**/*.py", format = "sdist" },
    { path = "tests/test-data/commitlogs/commit*.txt", format = "sdist" },
    { path = "tests/test-data/commitlogs/expected*.txt", format = "sdist" },
    { path = "tests/test-data/commitlogs/expected*.yaml", format = "sdist" },
    { path = "tests/test-data/repodata/dummy-test-package-gloster-git.tar.gz", format = "sdist" },
    { path = "tests/test-data/repodata/dummy-test-package-gloster.spec.expected", format = "sdist" },
    { path = "tests/test-data/test-specfiles/*.spec", format = "sdist" },
    { path = "tox.ini", format = "sdist" },
]
exclude = [
    "**/.coverage",
]

[tool.poetry.dependencies]
python = "^3.9"
rpmautospec_core = "^0.1.4"
babel = "^2.8"
pygit2 = "^1.4.0"
rpm = "*"

[tool.poetry.group.dev.dependencies]
pyyaml = "^5.3.1 || ^6"
pytest = "^6.2.2 || ^7 || ^8.0.0"
pytest-cov = "^4.0.0"
pytest-xdist = "^2.5.0 || ^3"
coverage = "^7.2.0"
black = "^24.1.0"
ruff = "^0.2.0"

[tool.poetry.scripts]
rpmautospec = "rpmautospec.cli:main"

[tool.black]
line_length = 100

[tool.ruff]
line-length = 100
target-version = "py39"

[tool.ruff.lint]
select = ["E", "F", "W", "I"]
allowed-confusables = ["’"]

[tool.pytest.ini_options]
addopts = "--cov --cov-config .coveragerc --cov-report term --cov-report xml --cov-report html"
tmp_path_retention_policy = "failed"
